@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Ubuntu&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body, h5 {
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;  /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
}
html {
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255); 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
  text-align: center;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; 
  background-color: rgb(255, 255, 255); 
}

.scrollUp{
  transform: translateY(-80px)
}

h1 {
  /* color: rgb(255, 255, 255); */
  color: #15171a;
  font-size: 100px;
  /* font-weight: 100; */
  font-weight: 700;
  line-height: 20%;
  /* font-family: 'Inter', sans-serif;  */
  font-family: proxima-nova, sans-serif;
}
p {
  /* color: black; */
  text-align: center;
  line-height: 100%;
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 40%;
  font-weight: 10;
}
h3 {
  /* color: rgb(230, 230, 230); */
  color: black;
  text-align: center;
  line-height: 0.00000001%;
}
a {
  color: black;
  font-size: 1.5rem;
  font-weight: 10;
}  

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.links a:hover {
  text-decoration: underline white;
  text-underline-offset: 10px;

}

.links {
  margin-top: 0px;
  display: inline;
}

.links a:hover {
  text-decoration: underline white;
  text-underline-offset: 10px;

}
.links a {
  text-decoration: none;
  font-size: 20px;
  /* color: #ffffff; */
  color: black;
  border: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  background: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  word-wrap: normal;
  display: inline-block;
/* animation-name: FadeIn;
animation-duration: 3s;
transition-timing-function: linear;
opacity: 0;
animation-fill-mode: both;
animation-delay: 10s; */
}

.projects-link {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  word-wrap: normal;
  display: inline-block;
}

.dropdown{
  opacity: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 2px rgb(221, 221, 221);  display: none;
  width: 200px;
  text-align: center;
  z-index: 3;
  position: absolute;
  overflow: none;
  border-radius: 8px;
  border: black 1px;
}

.dropdown ul {  padding-left: 0;list-style: none; text-align: center; align-items: center;}

.dropdown a { color: black; font-size:12px; font-weight:500; }

.dropdown a:hover {text-decoration: underline rgb(0, 0, 0);
  text-underline-offset: 10px;}

#title{
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 7em;
  /* font-family: 'Roboto', sans-serif; */
}

.intro-contact {
  margin-top: 6vh;
}

.intro-contact-card {
  height: 3vw;
  width: 9vw;
  border-radius: 8px;
  background-color: #3b82f6;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;

}
.intro-contact-card:hover {
  background-color: #2a6cd6;
}


.projects-link:hover .dropdown {
  display: block;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.intro-about-me {
  width: 50vw;
  background-color: white;
  border-radius: .5rem;
  color: #15171a;
  padding: 15px;
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  /* margin-top: 10vh; */
  display: block;
  margin-left: auto;
  margin-right: auto
}

.about-me {
  height: 100vh;
  width: 100vw;

}

.projects {
  width: 100vw;
  height: 100vh;
  /* margin-top: 25vh; */
}

.projects-grid {
  display: grid;
  width: 70vw;
  height: 60vh;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  /* grid-gap: 2vw; */
  /* padding-inline-start: 0; */
  margin-left: auto;
  padding-left: 60px ;
  margin-right: auto;
}

.project-card {
  width: 20vw;
  height: 26vh;
  /* background-color: rgb(222, 230, 238); */
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 2px rgb(221, 221, 221);
  /* box-shadow: 4px 3px 4px 10px #ebe9e9;   */
  border-radius: .5rem;
  color: #3b82f6 !important;
  /* padding: 15px; */
}
.project-link {
  position: absolute;
  width: 20vw;
  height: 25vh;
  top: 0;
  left: 0;
  z-index: 3;
}
.project-card p {
  font-size: 1.5rem;
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;  /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
  padding-top: 15px;
  /* font-family: Inter, sans-serif */
}

.project-card:hover {
  /* background-color: rgb(176, 231, 248); */
  animation: bounce 0.5s linear;
}
.bouncey {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }

  80% {
      transform: translateY(-2px);
  }
  100% {
      transform: translateY(0);
  }
}


#language {
  padding-bottom: 5px;
  color: #3b82f6;
  font-size: 1.5rem;
}

#project-subtitle {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
}

.blog-homepage {
  width: 100vw;
  height: 100vh;
}
#blog-snippet {
  color: black;
}

#blog-title {
  padding-top: 50px;
}

#blog-snippet {
  line-height: 40px;
}

#read-more{
  color: #3b82f6;
  font-size: 35px;
  text-decoration: underline;
}

#blogs-button {
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

#blogs-button:hover {
  background-color: #2a6cd6;

}

.home-blog {    
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 1px 2px rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
  padding: 30px;  
  text-align: center;
  font-size: 32px;
  min-width: 0%;
  margin-left: auto;
  margin-right: auto;
  color: black !important;
  margin-bottom: 50px;
  animation: bounce 0.5s linear;

}

.blogpost p {
  color: white;
  font-family: Google Sans,Roboto,Arial,Helvetica,sans-serif;
  font-size: .80rem;
}
.blogpost h2 {
  color: white;
  font-size: 30px;
  }
.blogpost h5 {
  color: white;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  height: 16vh;
  position: static;
  /* display:block; */
  background-color: #3b82f6;
  /* position: absolute; */
  bottom: 0;
  /* width: 100%; */
  margin-top: 25vh;
  /* height: 2.5rem; */
}

.footer-content {
  padding: 3vh;
  display: inline-block;
  font-size: 1.5rem !important;
  position: relative;
  /* text-align: center; */
}

.location {
  display: inline-block;
  padding-right: 40vw;
  /* font-size: 20px; */
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}    

.contact {
  display: inline-block;
  /* padding-right: 1vw; */
  /* font-size: 10px; */
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}    

.contact a{
  /* font-size: 1rem !important; */
  color: white;
  margin-right: 5px;
  font-size: 1.5rem !important;

}

.contact a:hover {
  color: #cacaca;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
  width: 100%;
  padding: 0;
  }
}
