.book-container {
    display: flex;
    flex-wrap: wrap;
    max-width: calc((4 * 118px) + (3 * 2rem)); 
    justify-content:center;
    /* max-width: 90vw; */
    margin:auto;
    gap: 2rem;
}
.book-item {
    box-sizing: border-box;
    width: 118px;
    text-align: center;
    max-width: 38vw;
}
.book-image {
    width: 118px;
    border-radius: 5px; 
    height: 11.5rem;
}
.book-text {
    margin-top: 10px;
    font-size:18px;
}
.book-description {
    font-size: 15px;
}
