{% extends "base.html" %}

{% block content %}
{% set data = load_data(path='books.json', format="json") %}


<div style="margin-top:5px; text-align: center;">
  {{ section.content | safe }}
</div>
{% for year, books in data %}
    <h5 style="text-align:center">{{ year }}</h5>
    <ul>
        <div class="">
            {% for book in books %}
                <div class="">
                    <!-- <div class="image-thingy">
                        <img class="book-image" src="{{ book['cover_url_longitood'] }}" loading="lazy" alt="Loading Cover...">
                    </div> -->
                    <h5 class="book-text"><i>{{ book["title"] }}</i> - {{ book["author"] }}</h5>
                </div>
            {% endfor %}
        </div>
    </ul>
{% endfor %}


{% endblock %}