{% extends "base.html" %}

{% block content %}
{% set data = load_data(literal='{
    "2024": [
        {
            "title": "On Chesil Beach", 
            "author": "Ian McEwan", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:On%20Chesil%20Beach", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=On_Chesil_Beach&author_name=Ian+McEwan",
            "published_year": 2007
        },
        {
            "title": "The Buried Giant", 
            "author": "Kazuo Ishiguro", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:The%20Buried%20Giant", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=The_Buried_Giant&author_name=Kazuo+Ishiguro",
            "published_year": 2015
        },
        {
            "title": "Carrie", 
            "author": "Stephen King", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Carrie+inauthor:Stephen+King", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Carrie&author_name=Stephen+King",
            "published_year": 1974
        },
        {
            "title": "Lessons", 
            "author": "Ian McEwan", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Lessons+inauthor:Ian+McEwan", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Lessons&author_name=Ian+McEwan",
            "published_year": 2022
        },
        {
            "title": "11/22/63", 
            "author": "Stephen King", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:11/22/63", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=11/22/63&author_name=Stephen+King",
            "published_year": 2011
        },
        {
            "title": "Never Let Me Go", 
            "author": "Kazuo Ishiguro", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Never%20Let%20Me%20Go", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Never+Let+Me+Go&author_name=Kazuo+Ishiguro",
            "published_year": 2005
        },
        {
            "title": "The Dark Tower: The Gunslinger", 
            "author": "Stephen King", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:The%20Dark%20Tower:%20The%20Gunslinger", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=The+Dark+Tower:+The+Gunslinger&author_name=Stephen+King",
            "published_year": 1982
        },
        {
            "title": "The Remains of the Day", 
            "author": "Kazuo Ishiguro", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:The%20Remains%20of%20the%20Day", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=The+Remains+of+the+Day&author_name=Kazuo+Ishiguro",
            "published_year": 1989
        },
        {
            "title": "The Shining", 
            "author": "Stephen King", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:The%20Shining", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=The+Shining&author_name=Stephen+King",
            "published_year": 1977
        },
        {
            "title": "Misery", 
            "author": "Stephen King", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Misery", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Misery&author_name=Stephen+King",
            "published_year": 1987
        },
        {
            "title": "IT", 
            "author": "Stephen King", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:IT", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=IT&author_name=Stephen+King",
            "published_year": 1986
        },
        {
            "title": "Chapterhouse: Dune", 
            "author": "Frank Herbert", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Chapterhouse:%20Dune", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Chapterhouse:+Dune&author_name=Frank+Herbert",
            "published_year": 1985
        },
        {
            "title": "Klara and the Sun", 
            "author": "Kazuo Ishiguro", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Klara%20and%20the%20Sun", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Klara+and+the+Sun&author_name=Kazuo+Ishiguro",
            "published_year": 2021
        }
    ],
    "2023": [
        {
            "title": "Heretics of Dune", 
            "author": "Frank Herbert", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Heretics%20Of%20Dune", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Heretics+Of+Dune",
            "published_year": 1984
        }, 
        {
            "title": "God Emperor of Dune", 
            "author": "Frank Herbert", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:God%20Emperor%20Of%20Dune", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=God+Emperor+Of+Dune",
            "published_year": 1981
        }, 
        {
            "title": "Children of Dune", 
            "author": "Frank Herbert", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Children%20Of%20Dune", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Children+Of+Dune",
            "published_year": 1976
        }, 
        {
            "title": "Dune Messiah", 
            "author": "Frank Herbert", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Dune%20Messiah", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Dune+Messiah",
            "published_year": 1969
        }, 
        {
            "title": "Dune", 
            "author": "Frank Herbert", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:Dune", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=Dune",
            "published_year": 1965
        }, 
        {
            "title": "The Catcher in the Rye", 
            "author": "J.D. Salinger", 
            "cover_url_google": "https://www.googleapis.com/books/v1/volumes?q=intitle:The%20Catcher%20in%20the%20Rye", 
            "cover_url_longitood": "https://bookcover.longitood.com/bookcover?book_title=The+Catcher+in+the+Rye&author_name=J.D.+Salinger",
            "published_year": 1951
        }
    ]
}', format="json") %}


<div style="margin-top:5px; text-align: center;">
  {{ section.content | safe }}
</div>
<ul style="text-align:center; margin:auto">
    {% for year, books in data %}
    <h5>{{ year }}</h5>
    <br>
    <div class="book-container">
        {% for book in books %}
            {% if book["published_year"] > 2000 %}
                {% set response = load_data(url=book["cover_url_longitood"], format="json") %}
                <div class="book-item">
                    <img class="book-image" src="{{ response['url'] }}" loading="lazy" alt="Loading Cover...">
                    <h5 class="book-text">{{ book["title"] }}</h5>
                    <div class="book-text book-description">{{ book["author"] }}</div>
                </div>
            {% else %}
                {% set response = load_data(url=book["cover_url_google"], format="json") %}
                <div class="book-item">
                    {% if book["title"] == "Dune" %}
                        <img class="book-image" src="{{ response['items'][1]['volumeInfo']['imageLinks']['thumbnail'] }}"  alt="Loading Cover..." loading="lazy" alt="Book Image">
                    {% else %}
                        <img class="book-image" src="{{ response['items'][0]['volumeInfo']['imageLinks']['thumbnail'] }}"  alt="Loading Cover..." loading="lazy" alt="Book Image">
                    {% endif %}
                    <h5 class="book-text">{{ book["title"] }}</h5>
                    <div class="book-description">{{ book["author"] }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</ul>

{% endblock %}
