{% extends "base.html" %}

{% block content %}
{% set data = load_data(path='books.json', format="json") %}


<div style="text-align: center;">
  {{ section.content | safe }}
</div>
{% for year, books in data %}
    <h5 style="padding-left: 20px; margin-top:5px;font-size:1.2rem; text-decoration: underline; color: #D97757;">{{ year }}</h5>
    <ul>
        <div style="background-color: white; padding: 15px; border-radius: 8px; border: 3px solid black;">
            {% for book in books %}
                <div class="">
                    <div><i>{{ book["title"] }}</i> - {{ book["author"] }}</div>
                </div>
            {% endfor %}
        </div>
        <br>
    </ul>
{% endfor %}
{% endblock %}